rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /{document=**} {
      allow read, write, delete: if globalRules();
    }

    match /discussions/{docId} {
      allow read, create, delete: if canCreateDiscussion();
    }

    function globalRules () {
      let isSignedInUser = request.auth.uid != null; 
      return isSignedInUser
    }

    function canCreateDiscussion() {
      let isSignedIn = request.auth.uid != null;
      let isOwner = request.auth.uid == request.resource.data.uid;
      let isNotLong = request.resource.data.text.size() > 255;
      let isNow = request.time == request.resource.data.createdAt;
      let deletePost = request.auth.uid != null && request.auth.uid == request.resource.data.uid;

      return isSignedIn && isOwner && isNotLong && isNow && deletePost;
    }

  }
}